*{
  margin: 0;
}

#root {
  width: 100vw;
  margin: 0 auto;
}

#header{
  background-color: dodgerblue;
  color: white;
  padding-left: 2%;
  height: 15vh;
}

#bodyBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
}

.button{
  width: 100px;
  height: 30px;
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 15px;
}

.imgBox{
  display: flex;
  flex-direction: column;
  
}